<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes do Funcionário</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="card">
      <h1>Lista de Trabalhadores</h1>

      <table>
        <thead>
          <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Departamento</th>
          </tr>
        </thead>

        <tbody>
          {% for worker in workers %}
          <tr>
            <td>{{ worker[0] }}</td>
            <td>{{ worker[1] }}</td>
            <td>{{ worker[2] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
