<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes do Funcionário</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="card">
      <h2>{{ worker[0] }} {{ worker[1] }}</h2>
      <p><strong>CPF:</strong> {{ worker[2] }}</p>
      <p><strong>Data de Contratação:</strong> {{ worker[3] }}</p>
      <p><strong>Cargo:</strong> {{ worker[4] }}</p>
      <a href="/worker_tables">Voltar à lista</a>
    </div>
  </body>
</html>
